name: Security Scan Docker Packages
run-name: >
  Security Scan #${{ github.run_number }} for ${{ inputs.image != '' && inputs.image != null && inputs.image || 'all repository docker images' }}
on:
  workflow_dispatch:
    inputs:
      target:
        description: "Target type for the scan (docker, etc.)"
        required: false
        type: choice
        options:
          - docker
          - source
      image:
        description: "Docker image (for docker). By default ghcr.io/<owner>/<repo>:latest"
        required: false
        default: ""
        type: string
      tag:
        description: "Tag of the image to scan. By default 'latest'"
        required: false
        default: "latest"
        type: string
      only-high-critical:
        description: "Scope only HIGH + CRITICAL"
        required: false
        default: true
        type: boolean
      trivy-scan:
        description: "Trivy scan"
        required: false
        default: true
        type: boolean
      grype-scan:
        description: "Grype scan"
        required: false
        default: true
        type: boolean
      continue-on-error:
        description: "Continue on error"
        required: false
        default: true
        type: boolean
      only-fixed:
        description: "Ignore unfixed vulnerabilities"
        required: false
        default: true
        type: boolean
  schedule:
    - cron: "0 1 * * 0" # every Sunday at 03:00 UTC

jobs:
  debug-packages:
    runs-on: ubuntu-latest
    permissions:
      packages: read
    outputs:
      packages: ${{ steps.display-config.outputs.filtered }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Get Configuration File
        uses: netcracker/qubership-workflow-hub/actions/docker-config-resolver@9538833017019ab6bbc2138d3034778dfe3a5d1f #v2.0.6
        id: config
        with:
          file-path: ".qubership/dev-docker.cfg"

      - name: Display Resolved Configuration
        id: display-config
        env:
          CONFIG_JSON: ${{ steps.config.outputs.config }}
        run: |
          set -euo pipefail
          echo "Resolved Configuration:"
          FILTERED=$(echo "$CONFIG_JSON" | jq -c '[.[] | select(.security_scan == true)]')

          echo "Filtered pretty:"
          echo "$FILTERED" | jq .

          echo "filtered=$FILTERED" >> "$GITHUB_OUTPUT"

          if [ "$(echo "$FILTERED" | jq 'length')" -eq 0 ]; then
            echo "No scan items on configuration."
            exit 1
          fi

  security-scan-matrix:
    permissions:
      contents: read
      security-events: write
      packages: read
    needs: debug-packages
    if: ${{ inputs.image == '' || inputs.image == null }}
    strategy:
      matrix:
        package: ${{ fromJson(needs.debug-packages.outputs.packages) }}

    name: "Run Security Scan (matrix)"
    uses: netcracker/qubership-workflow-hub/.github/workflows/re-security-scan.yml@9538833017019ab6bbc2138d3034778dfe3a5d1f #v2.0.6
    with:
      target: ${{ inputs.target || 'docker' }}
      image: ${{ format('{0}:{1}', matrix.package.image, inputs.tag || matrix.package.security_tag || 'latest') }}

  security-scan-single:
    permissions:
      contents: read
      security-events: write
      packages: read
    needs: debug-packages
    if: ${{ inputs.image != '' && inputs.image != null }}
    name: "Run Security Scan (single image)"
    uses: netcracker/qubership-workflow-hub/.github/workflows/re-security-scan.yml@9538833017019ab6bbc2138d3034778dfe3a5d1f #v2.0.5
    with:
      target: ${{ inputs.target || 'docker' }}
      image: ${{ inputs.image }}
      only-high-critical: ${{ inputs.only-high-critical || true }}
      trivy-scan: ${{ inputs.trivy-scan || true }}
      grype-scan: ${{ inputs.grype-scan || true }}
      only-fixed: ${{ inputs.only-fixed || true }}
      continue-on-error: ${{ inputs.continue-on-error || true }}
